.add-user-item{
    display: flex;
    padding: var(--spacing-sm) var(--spacing-md);
    align-items: center center;
    margin: var(--spacing-xs) var(--spacing-sm);
    background: var(--color-gray);
    border-radius: 3px;
    img {
        width: 2.2rem;
        height: 2.2rem;
    }
    .username {
        margin-left: var(--spacing-sm);
        font-size: var(--fontSize-md);
        font-weight: bold;
        line-height: 2.2rem;
        flex: 1;
        text-align: left;
        margin-bottom: 0;
    }
}