.base-panel {
    width: 20%;
    background: white;
    .panel-title {
        width: inherit;
        font-size: var(--fontSize-md);
        padding-left: var(--spacing-sm);
        margin-bottom: 0;
        height: 2.5rem;
        line-height: 2.5rem;
  }
}
.blue-header-panel {
    height: inherit;
    .panel-title{
        width: 100%;
        background: blue;
        color: white;
}

}