.user-form {
  padding: var(--spacing-xl);
  .field {
    display: flex;
    margin-bottom: var(--spacing-xs);
    .label {
      width: 6rem;
      font-size: .95rem;
      line-height: 1.25rem;
      color: black;
      opacity: .9;
      font-weight: bold;
    }
    .text-input {
      padding-left: var(--spacing-xs);
      flex-grow: 3;
      background: var(--blue-light);
      font-size: 0.9rem;
      line-height: 1.125rem;
      color: #000;
      border-radius: 0;
      height: 2rem;
      border: none;
      opacity: 0.8;
    }
    .textarea {
      height: 5rem;
    }
  }
}
