.item {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  .item-left {
    display: flex;
    margin-left: 20px;
    .content {
      margin-left: 20px;
    }
    .avatar {
      margin-top: auto;
      margin-bottom: auto;
      width: 37px;
      height: 37px;
    }
  }
}
