.noti{
    font-size: 1.2rem;
    text-align: center;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
}
.input-search{
    border: none;
    background: #DCDCDC;
    border-radius: 5px;
    margin: var(--spacing-sm) var(--spacing-sm);
    width: 93%;
    font-size: 1rem;
    padding: var(--spacing-sm);
    font-weight: bold;
}