.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .body {
        flex: 1;
        display: flex;
        // position: relative;
        background-color: #f1f1f1;
    }
    .footer {
        background-color: var(--bgColor-tertiary);
        color: var(--color-tertiary);
        padding: var(--spacing-sm);
    }
    .left-panel {
        width: 20%;
    }
    .user-info {
        width: 25%;
    }
}

@media only screen and (max-width: 768px) {
    .left-panel, .user-info {
        display: none;
    }
}